<ion-header>
  <ion-navbar>
    <ion-title>
      Viva Anuncios
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let departamento of departamentos" col-4>
        <ion-card click="Informacion(departamento)">
          <img *ngIf="departamento.hasOwnProperty('pictures')" src="{{departamento.pictures[0].url}}">
          <ion-card-content>
            <h1 *ngIf="departamento.hasOwnProperty('price')">
              {{departamento.price.formattedAmount}}
            </h1>
            <h1 *ngIf="departamento.hasOwnProperty('geo')">
              {{departamento.geo.name}}
            </h1>
            <h2 *ngIf="departamento.hasOwnProperty('geo')">
              {{departamento.geo.displayName}}
            </h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>